body{
	font-family: 'Arial', sans-serif;
}

p{
	margin: 0px 0px 0px 50px;
}

h3{
	margin: 5px 0px;
}

.heading h1{
	font-weight: 400;
	margin-bottom: 0px; 
}

.heading p{
	margin-top: 5px;
}

.heading {
	text-align: center;
}