.header{
	text-align: center;
	font-size: 36px;
}

.jack{
	text-align: center; 
}

.description {
	border-bottom: solid grey 1px;
}

.rights{
	text-align: center;
}

.header:hover{
	background-color: black;
	color: white;
}
