body{
	font-size: 26px;
}

form {
	width: 50%;
}

.words{
	display: inline-block;
	width: 30%;
	line-height: 40px;
}

.inputs{
	display: inline-block;
	width: 69%;
}

.inputs input {
	width: 100%;
	margin: 3px;
	font-size: 25px;
}
.inputs .small {
	width: 50%;
}
.inputs select{
	font-size: 25px;
	width: 50%;
	margin: 2px;
}

input[type=radio]{
	width: 20px;
}

.down input[type=text]{
	height: 200px;
	width: 100%;
}
input[type=submit]{
	font-size: 24px;
	padding: 8px;
	margin: 5px 0px;
}